* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  width: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}


.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  position: relative;
  width: 48px;
  height: 48px;
}

.black {
  background-color: rgb(154, 136, 136);
}

.white {
  background-color: rgb(235, 191, 108);
}

.selected {
  background-color: brown;
}

.available {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: green;
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}
